{#
 # Feature View Template – Default
 # -------------------------------
 #
 # This template gets loaded whenever the Feature Router falls back to the default variant.
 #
-#}

{% block view_main %}
  <article class="featured news-entry">
    {% set image = entry.featuredImage.one() %}
    {% if image %}
      <figure>
        <a href="{{ url }}">
          <img src="{{ image.getUrl() }}" alt="{{ image.title }}" width="570" height="348">
        </a>
      </figure>
    {% endif %}

    <div class="summary-wrap">
      <h3><a href="{{ url }}">{{ entry.title }}</a></h3>

      <span class="author">{{ entry.author.name }}</span>

      {{ entry.shortDescription }}

      <p>
        {% if entry.type == 'link' %}
          <a href="{{ url }}" class="more-link">Check it out</a>
        {% else %}
          <a href="{{ url }}" class="more-link">Read More</a>
        {% endif %}
      </p>
    </div>
  </article>
{% endblock %}
