{#
 # Feature View Template – Work
 # ----------------------------
 #
 # This template gets loaded whenever the Feature View is requested for a Work entry.
 #
-#}

{% extends "_views/features/default" %}

{% block view_main %}
  <article class="work-entry work-entry-feature">
    {% set image = entry.featuredImage.inReverse().one() %}
    {% if image %}
      <img src="{{ image.getUrl({ width: 2000 }) }}" alt="{{ image.title }}" width="2000">
    {% endif %}

    <div class="summary-wrap">
      {% if entry.heading %}
        <a href="{{ entry.url }}"><h2 class="center reverse beta">{{ entry.heading }}</h2></a>
      {% endif %}

      {% if entry.subheading %}
        <h3 class="delta center subfont reverse"><a href="{{ entry.url }}">{{ entry.subheading }}</a></h3>
      {% endif %}

      {% if entry.shortDescription %}
        <div class="block text">
          {{ entry.shortDescription }}
        </div>
      {% endif %}
      <p class="center"><a href="{{ entry.url }}" class="more-link">Full Story</a></p>
    </div>
  </article>
{% endblock %}
