{#
 # Component Template – Intro 
 # --------------------------
 #
 # This template is used to output HTML for an Intro component.
 #
 # A `self` variable is expected in this template.
-#}

<section class="{{ (self.hasBackground ?? false) ? 'info-hero ' }}alt">
  <div class="flex">
    <div class="g1-flex4 g2-flex6 g3-flex8 g3-offset2">
      {% if self.heading|length %}
        <h1 class="delta {{ (self.hasBackground ?? false) ? 'reverse ' }}center subfont">{{ self.heading }}</h1>
      {% endif %}
      {% if self.body|length %}
        <div class="epsilon center{{ (self.hasBackground ?? false) ? ' reverse' }}">{{ self.body }}</div>
      {% endif %}
    </div>
  </div>
</section>